<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>TOF-TOF</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/images.css">
</head>

<body>
    <header>
        <h1>TOF-TOF</h1>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/Gallery">Gallery</a></li>
                <li><a href="/api/login">Login</a></li>
                <li><a class="logout_active" href="/logout">logout</a></li>
            </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
			<span></span>
		</label>
    </header>
    <main>
        <div class="container">
            <div class="main-img">
                <img src="/gallery/img1.jpg" alt="" id="current">
            </div>
            <div class="imgs">
                <img src="/gallery/img1.jpg" alt="">
                <img src="/gallery/img2.jpg" alt="">
                <img src="/gallery/img3.jpg" alt="">
                <img src="/gallery/img4.jpg" alt="">
                <img src="/gallery/img5.jpg" alt="">
                <img src="/gallery/img6.jpg" alt="">
            </div>
    </main>
    <script src="/js/img.js"></script>
    </div>
</body>

</html>