<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>TOF-TOF</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <h1>TOF-TOF</h1>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/Gallery">Gallery</a></li>
                <li><a href="/api/login">Login</a></li>
                <li><a class="logout_active" href="/logout">logout</a></li>
            </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
			<span></span>
		</label>
    </header>
    <main>
        <div class="content">
            <h1>Something awesome will happen soon...</h1>
        </div>
    </main>
</body>

</html>