<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">

    <title>Document</title>
</head>

<body>
    <header>
        <h1>TOF-TOF</h1>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/Gallery">Gallery</a></li>
                <li><a href="/api/login">Login</a></li>
                <li><a class="logout_active" href="/logout">logout</a></li>
            </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
			<span></span>
		</label>
    </header>

</body>

</html>