body {
    background: #333;
}

.main-grid>div {
    background: #fff;
    display: grid;
}

.main-grid>div:nth-child(odd),
.thumbnail-grid>div {
    position: relative;
    padding: 0.22rem;
    background: #ddd;
}

.capture {
    height: 51.31677vh;
    width: 100%;
}

.main-grid {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 0.7em;
    /* grid-auto-rows: 200px; */
    grid-auto-rows: minmax(40px auto);
    align-self: center;
}

.thumbnail-grid {
    display: grid;
    margin: 0.7rem 0;
    grid-gap: .2rem;
    grid-template-columns: repeat(auto-fill, 160px);
    grid-auto-rows: 120px;
    background: #fff;
}

.thumbnail-grid>div img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.nested {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
}

.capture>img {
    display: none;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    grid-auto-columns: 1fr;
}

video {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

#canvas {
    display: none;
    height: 100%;
    width: 100%;
    margin: 0 auto !important;
}


/* .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}

.close:hover {
    opacity: 1;
} */

.del_img {
    position: absolute;
    cursor: pointer;
    height: 15px !important;
    width: 15px !important;
    top: 4px;
    right: 4px;
    border-radius: 9px;
    background-color: #ffffffba;
    transition: background-color .6s
}

.del_img:hover {
    background-color: red;
}