main {
    margin: 0 auto;
    width: 90vw;
    background: #fff;
    border: #fff solid 3px;
    padding: 5px;
}

#main-box {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 0.6rem;
    max-height: 60vh;
}

.main-img img,
.imgs img {
    width: 100%;
}

.imgs {
    display: grid;
    grid-gap: 0.3rem;
    grid-template-columns: repeat(2, auto);
    margin: 0 auto;
    align-content: baseline;
}

.imgs img {
    border: 0.35rem solid #333;
    max-width: 379px !important;
}


/* fade in animation  */

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
}

.comment_block .create_new_comment {
    width: 100%;
    padding: 0.4rem;
}

.comment_block .create_new_comment .input_comment {
    display: inline-block;
    vertical-align: middle;
    margin: 10px auto;
    width: calc(100% - 75px);
}

.user_avatar {
    width: 5rem;
}

.comment_block {
    height: 100%;
    margin: 0.3rem auto;
    padding: 0.5rem;
    background-color: #333;
}

.comment_block .create_new_comment .input_comment input[type="text"] {
    width: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    padding: 0.3rem;
    border: none;
    border-bottom: 2px solid #f2f2f2;
}

.comment_block .new_comment .user_comment {
    list-style-type: none;
}

.comment_block .new_comment .comment_body {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 75px);
    min-height: 40px;
    margin: 3px;
    padding: 10px;
    font-size: 1rem;
    color: #555;
    background-color: #fff;
    border-bottom: 2px solid #f2f2f2;
    border-radius: 50px;
}

.comment_block .new_comment {
    width: 100%;
    height: auto;
    padding: 0;
    border-top: 1px solid #e6e6e6;
}

.comment_block .new_comment .comment_body span {
    color: #6495ed;
    margin-right: 2px;
}

.user_avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.btn {
    background-color: #4caf50;
    color: white;
    margin-top: 0.2rem;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    text-decoration: none;
    font-size: 0.8rem;
}

.btn:hover {
    opacity: 1;
}


/* Like button */

.like_container {
    position: absolute;
    transform: translate(15%, 15%);
    padding: 1.3%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    background-color: #fafafa70;
}

.like_container i {
    font-size: 2.1rem;
}

.like_container:hover i {
    color: #f50057;
}

.fas {
    color: #f50057;
}

.noclick {
    pointer-events: none;
}