input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


/* Overwrite default styles of hr */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* Set a style for the submit/register button */

.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

a {
    color: dodgerblue;
}

.login-box {
    display: flex;
    background-color: #f1f1f1;
    align-content: center;
    justify-content: space-between;
    width: 70vw;
    opacity: 0.9;
    text-transform: uppercase;
}

.login-box_link {
    font-size: 0.8rem;
    text-decoration: none;
    color: black;
}

.login-box_link:hover {
    color: #4CAF50;
}

form {
    width: 70vw;
    margin: 10px auto;
    padding-top: 5vh;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
}