<%- include('includes/start') %>
    </head>

    <body>
        <%-include('includes/navigation') %>
            <main>
                <p>Something to work on Later</p>
            </main>
            <%-include('includes/end')%>