<%- include('includes/start') %>
    </head>

    <body>
        <%-include('includes/navigation') %>
            <main>
                <div class="content">
                    <h1>Something awesome will happen soon...</h1>
                </div>
            </main>
            <%-include('includes/end')%>