<%- include('includes/start') %>
    <link rel="stylesheet" href="/css/login.css">

    </head>

    <body>
        <%-include('includes/navigation') %>
            <div class="content">
				<main>
					<%if(errorMessage.length){%>
						<div class="user-message user-message--error" style="visibility: hidden;"><%=errorMessage%></div>
					<%}%>
					<form action="/api/reset" method="POST">
						<div class="container">
							<h1>Reset your Password</h1>
							<p>Please fill to send a reset password email.</p>
							<hr>
							<label for="username"><b>Username</b></label>
							<input id="username" type="text" placeholder="Enter your username" name="username" required pattern="\S+" title="No Whitespace" required>

							<label for="email"><b>Email</b></label>
							<input id="email" type="text" placeholder="Enter Email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
							<hr>
							<input type="submit" class="registerbtn" name="submit" value="Reset">
						</div>
						<div class="container signin">
							<p>Remember your password? <a href="/api/login">Login</a>.</p>
						</div>
					</form>	
				</main>
            </div>
            <%-include('includes/end')%>