<header>
    <h1 class="logo_title">TOF-TOF</h1>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
        <!-- <%= typeof pagePath =='undefined' ? console.log(pageTitle) : '' %> -->
        <ul class="menu">
            <li><a class="<%= pagePath === '/' ? 'active' : '' %>" href="/">Home</a></li>
            <li><a class="<%= pagePath === '/gallery' ? 'active' : '' %>" href="/gallery">Gallery</a></li>
            <li><a class="<%= pagePath === '/api/login' ? 'active' : '' %>" href=" /api/login ">Login</a></li>
            <li><a class="logout_active " href="/logout ">logout</a></li>
        </ul>
    </nav>
    <label for="nav-toggle " class="nav-toggle-label ">
		<span></span>
	</label>
</header>